# Working with historic data from Alpaca

In [53]:
import asyncio
import os
from dotenv import load_dotenv
from alpaca.data.live import StockDataStream
from alpaca.trading.client import TradingClient
from alpaca.trading.requests import MarketOrderRequest
from alpaca.trading.enums import OrderSide, TimeInForce
from alpaca.data.enums import DataFeed

# Load environment variables
load_dotenv()  # Load .env file

API_KEY = os.getenv("ALPACA_API_KEY")
API_SECRET = os.getenv("ALPACA_SECRET_KEY")

# Initialize TradingClient
Trading_Client = TradingClient(API_KEY, API_SECRET, paper=True)  # paper=True for paper trading
data_client = StockHistoricalDataClient(API_KEY, API_SECRET)

In [55]:
# Cell 2: Fetch Historical Data (Jan 1, 2024 - Jan 1, 2025)
from alpaca.data.requests import StockBarsRequest
from alpaca.data.timeframe import TimeFrame
from datetime import datetime

# Define date range
start_date = datetime(2024, 1, 1)
end_date = datetime(2025, 1, 1)

# Request daily bars for TSLA
request = StockBarsRequest(
    symbol_or_symbols="TSLA",
    timeframe=TimeFrame.Day,  # Daily data (change to TimeFrame.Hour for hourly)
    start=start_date,
    end=end_date
)

# Fetch data
bars = data_client.get_stock_bars(request)

# Display the first 5 bars
for bar in bars.data["TSLA"][:5]:  # Preview first 5 entries
    print(bar)

symbol='TSLA' timestamp=datetime.datetime(2024, 1, 2, 5, 0, tzinfo=TzInfo(UTC)) open=250.08 high=251.25 low=244.41 close=248.42 volume=104677350.0 trade_count=1178077.0 vwap=248.350303
symbol='TSLA' timestamp=datetime.datetime(2024, 1, 3, 5, 0, tzinfo=TzInfo(UTC)) open=244.98 high=245.68 low=236.32 close=238.45 volume=121104606.0 trade_count=1274176.0 vwap=239.769658
symbol='TSLA' timestamp=datetime.datetime(2024, 1, 4, 5, 0, tzinfo=TzInfo(UTC)) open=239.25 high=242.7 low=237.73 close=237.93 volume=102645460.0 trade_count=1001894.0 vwap=240.359483
symbol='TSLA' timestamp=datetime.datetime(2024, 1, 5, 5, 0, tzinfo=TzInfo(UTC)) open=236.86 high=240.1196 low=234.9001 close=237.49 volume=92488939.0 trade_count=934668.0 vwap=237.93239
symbol='TSLA' timestamp=datetime.datetime(2024, 1, 8, 5, 0, tzinfo=TzInfo(UTC)) open=236.14 high=241.25 low=235.3 close=240.45 volume=85180396.0 trade_count=971097.0 vwap=238.603202

In [59]:
# Convert to DataFrame
df = bars.df

# Display first 5 rows
df.head()

                                    open      high       low   close  \
symbol timestamp
TSLA   2024-01-02 05:00:00+00:00  250.08  251.2500  244.4100  248.42
       2024-01-03 05:00:00+00:00  244.98  245.6800  236.3200  238.45
       2024-01-04 05:00:00+00:00  239.25  242.7000  237.7300  237.93
       2024-01-05 05:00:00+00:00  236.86  240.1196  234.9001  237.49
       2024-01-08 05:00:00+00:00  236.14  241.2500  235.3000  240.45

                                       volume  trade_count        vwap
symbol timestamp
TSLA   2024-01-02 05:00:00+00:00  104677350.0    1178077.0  248.350303
       2024-01-03 05:00:00+00:00  121104606.0    1274176.0  239.769658
       2024-01-04 05:00:00+00:00  102645460.0    1001894.0  240.359483
       2024-01-05 05:00:00+00:00   92488939.0     934668.0  237.932390
       2024-01-08 05:00:00+00:00   85180396.0     971097.0  238.603202